<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container">
    <form method="GET" action="/api/Movies">
        <label>Page No : </label>
        <input type="number" name="page" placeholder="Enter page no"><br><br>

        <label>Number of item per page : </label>
        <input type="number" name="limit" placeholder="Enter perPage items"><br><br>

        <label>Title : </label>
        <input type="text" name="title" placeholder="Enter Title"><br><br>

        <input type="submit" value="Get Movies">
    </form>
</div>